@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --main-grey-color: #1f2027;
  --main-white-color: #f0f0f0;
}

*{
	margin:0px;
	padding: 0px;
	text-decoration: none;
	box-sizing: border-box;
}

a,h1,h2,h3,h4,p,button,label{
	color: #1f2027
}

body{
	min-height: 100dvh;
 	font-family: 'Roboto', sans-serif;
 	background: var(--main-white-color);
 	
 	
}

.shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.shadow-right {
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.grid-body{
	display: grid;
	grid-template-columns: 200px 1fr;
	margin:0px;
}

.menu{
	background: var(--main-grey-color);
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu navbar, .menu div{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.menu div{
	border-top: 1px solid white;
	padding-top: 15px;
}

.menu a, .menu p{
	color:white;
}

navbar a{
	position: relative;
	transition: all 300ms;
}

navbar a::after{
	position:absolute;
	content: "";
	height: 1px;
	width: 90%;
	background: white;
	left:0;
	transform: scaleX(0);
	transform-origin: left;
	bottom:-10px;
	transition: all 300ms;
}

navbar a:hover::after{
	transform: scaleX(1);
}

navbar a:hover{
	transform: translateX(6px);
}

/*  Login  */
.login-container{
	height: 100dvh;
	width: 100%;
	display: flex;
}

.left-side{
	width: 60%;
	height: 100%;
	background: var(--main-grey-color);
}


.login-form{
	width:40%;
	display:grid;
	place-items: center;
}
.login-form form{
	background: white;
	display:flex;
	flex-direction: column;
	gap:15px;
	border:1px solid #ececec;
	border-radius: 8px;
	padding: 20px;
	
}


.form-input{
	display:flex;
	flex-direction: column;
	font-size: 18px;
}

.form-input input{
	border: none;
	border-bottom: 1px solid var(--main-grey-color);
	outline:none;
	padding: 4px;
	font-size: inherit
}



.btn{
	width:100%;
	text-align:center;
	padding:8px 0;
	cursor: pointer;
	border-radius: 4px;
	border:none;
}

.btn-primary{
	background: var(--main-grey-color);
	color: var(--main-white-color);
}


.my{
	margin:10px 0px;
}






































